* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* @font-face {
  font-family: "Nunito";
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3j77e.woff2)
    format("woff2");
} */
body {
  background-color: #f2f6ff;
}
.navbar .nav-leftside,
.navbar .nav-center,
.navbar .nav-rightside {
  flex-basis: auto;
  height: 40px;
}
.navbar {
  /* background: rgb(246, 250, 255);
    background: linear-gradient(
        90deg,
        rgba(246, 250, 255, 1) 5%,
        rgba(155, 202, 255, 1) 110%
    ); */
  background-color: white;
  padding: 0 0 0 0 !important;
}
.sticky-top {
  height: 55px !important;
}

.dropdown-menu-front {
  z-index: 1050;
}
.dropdown-menu-right {
  z-index: 1050;
}

/* search */
.search-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.input-group .search {
  /* width: 35em; */
  border-radius: 10px;
  background-color: #ebf7ff;
}
.btn-search {
  background-color: #1077b8;
  border-radius: 10px;
  margin-right: 2em !important;
}
.checkin {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  /* top: -6px; */
  position: relative;
  background-color: #1077b8;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(239, 234, 234, 0.3);
}
.checkin > a > img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.checkin a {
  color: #f0f2fd;
  text-decoration: none;
  position: relative;
  padding: 0 0 0 0 !important;
}

.checkin > a > i {
  font-size: 1.3em;
  color: #a1a1a1;
  padding: 0;
}

.checkin > a > .badge {
  position: absolute;
  top: -10px;
  right: -12px;
  font-size: 0.7em;
  padding: 3px 3px;
  border-radius: 50%;
  align-content: center;
  align-items: center;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  margin: 0;
  padding: 0;
}

.phone-number {
  display: flex;
  align-items: center;
}

.phone-number i {
  margin-right: 15px;
}
/* login */
.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 1em !important; */
}

.btn-login .btn {
  width: 6em;
  text-decoration: none;
  color: #ffffff;
  background-color: #1077b8;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-login a:hover {
  background-color: #1077b8;
}
.badge-small {
  font-size: 0.7em;
  padding: 0.2em 0.4em;
}
.btn-primary {
  background-color: #1577ff;
}
.nav-rightside {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  border-radius: 10px;
  color: #1577ff;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.nav-link {
  color: #ffffff; /* Set text color to white */
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #dddddd; /* Change color on hover/focus */
}

.nav-link.active::after {
  content: "";
  display: block;
  /* width: 86%; */
  width: 76%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 3px; /* Adjust position if needed */
  /* left: 8%; */
  left: 13%;
}

.nav-link.active {
  color: #ffffff; /* Ensure active link text is white */
}
.nav-item > .nav-link > img {
  width: 20px;
  color: #f4f4f4;
}
h1 {
  font-family: "Poppins", sans-serif !important;
}
h2 {
  font-family: "Poppins", sans-serif !important;
}
h3 {
  font-family: "Poppins", sans-serif !important;
}
h4 {
  font-family: "Poppins", sans-serif !important;
}
h5 {
  font-family: "Poppins", sans-serif !important;
}
h6 {
  font-family: "Poppins", sans-serif !important;
}

/* footer */
.main-footer {
  background-color: #1077b8;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;

  /* bottom:fixed; */
}
.logo-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.logo-container .logo-footer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.col-2 {
  text-align: center;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 15px;
}

.icon img {
  width: 40px;
  height: 40px;
}
.footer-title {
  font-size: larger;
}
.text-special a,
.text-category a {
  color: #ffffff;
  text-decoration: none;
}
.text-special a:hover,
.text-category a:hover {
  color: #000000;
}
/* .navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
} */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.conversation > p {
  font-size: 14px;
  margin-left: 1em;
  margin-top: 0.5em;
}
.conversation {
  margin-top: 7em;
}
.email > span {
  float: left;
  margin-left: 0.5em;
  font-size: 14px;
}
.email {
  margin-top: 7em;
}
.address {
  margin-top: 2.9em;
}
.flex-row {
  display: flex;
  align-items: center;
}
.styled-hr {
  flex-grow: 1;
  border: 1.2px solid;
  margin-left: 10px;
}
.address > span {
  font-size: 14px;
}
.nav-rightside1 {
  width: 100%;
}
/* responsive */
@media (min-width: 1200px) and (max-width: 1353px) {
  .nav-rightside1 {
    width: 100%;
  }
  .nav {
    width: 100%;
    gap: 0.5em !important;
  }
  .nav-item > .nav-link {
    font-size: 16px;
  }
}
